* {
    box-sizing: border-box;
}

:root {
    --primary-color: #801414;
    --secondary-color: #F4F4F0;
    --tertiary-color: #070707;
    --primary-font: 'Saira Stencil One', Helvetica, cursive;
    --secondary-font:'Dosis', Helvetica, sans-serif;
    --tertiary-font: 'STIX Two Text', Georgia, serif;
}

.overlay-color{
    width: 100%;
    height: 700px;
    background: black;
    opacity: 0.5;
    position: absolute;
    background-repeat: repeat-y;
}

.bg-image {
    display: none;
}

 header nav {
    display: none;
}

#container {
    width: 100%;
    height: 700px;
    background-image: url(images/background-480.jpg);
    background-position: center;
    background-size: cover; 
}

/* ===== Responsive Nav Bar ===== */
.mobile-container {
    margin: auto;
  }
  
  .topnav {
    overflow: hidden;
    position: relative;
  }
  
  .topnav #myLinks {
    display: none;
  }
  
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
    display: block;
  }

  .fa {
    font-size: 30px;
    padding-top: 30px;
  }
  
  .topnav a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .topnav a:hover {
    color: var(--primary-color);
  }

  #mylinks {
      text-align: right;
      padding-top: 0px;
  }

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.mobile-container img {
    width: 143px;
    height: 162px;
}

/* ==================================== */

.nav {
    display: none;
}

h1 {
    font-family: var(--primary-font);
    font-size: 28px;
    line-height: 1.5;
    text-align: center;
    color: var(--secondary-color);
    margin-top: 0px;
    position: relative;
    z-index: 1;
}

h2 {
    font-family: var(--primary-font);
    font-size: 28px;
    line-height: 1.5;
    text-align: center;
    color: var(--primary-color);
    margin-top: 15px;
}

p {
    width: 90%;
    font-family: var(--secondary-font);
    font-size: 18px;
    line-height: 1.5;
    text-align: left;
    color: var(--tertiary-color);
    margin-top: 15px;
    margin: auto;
}

main, footer {
    background-color: var(--primary-color);
    width: 100%;
    height: 100%;
    text-align: center;
    padding-bottom: 0px;
    position: relative;
    z-index: 1;
}

div.hire, div.resume {
    margin: auto;
    text-align: center;
}

input.hire, input.resume {
    font-size: 18px;
}

input#btn-hire, input#btn-resume {
    width: 298px;
    height: 29px;
    color: var(--primary-color);
    font-family: var(--tertiary-font);
    border-radius: 5px 5px;
    border-style: none;
}
input#btn-hire {
    margin-top: 30px;
    margin-bottom: 30px;
}

input#btn-resume {
    margin-bottom: 40px;
}

.social-links img {
    width: 30px;
    margin: auto;
    margin-bottom: 20px;
    display: flex;
}

a.linkedin img {
    padding-top: 50px;
}

div.copyright p {
    font-family: var(--secondary-font);
    font-size: 13px;
    color: var(--secondary-color);
    text-align: center;
    padding-bottom: 40px;
    padding-top: 30px
}

footer {
    height: 300px;
    margin-bottom: 0px;
}

footer.grid-container.container-social {
    height: 280px;
}


/* ===== Styles for mobile version "About" ===== */

body.about #container {
    background-image: none;
}

body.about {
    background-color: var(--secondary-color);
}

body.about .mobile-container {
    background-color: var(--tertiary-color);
}

body.about .image-about img {
    display: block;
    width: 300px;
    height: 300px;
    margin: auto;
    border-radius: 50%;
    margin-top: 30px;
    margin-bottom: 30px;
}

body.about .social-links img {
    padding-top: 20px;
    margin-bottom: 0px;
}

body.about footer {
    margin-top: 40px;
    padding-top: 10px;
    height: 100px;
}

body.about .mobile-container, body.contact .mobile-container {
    margin: auto;
    background-image: url(images/background-800.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  body.about .overlay-color {
    display: none;
}

body.about p.copyright {
    font-size: 14px;
    color: var(--secondary-color);
    text-align: center;
    padding-top: 30px;
}

body.about footer div.grid-container.container-social {
    background-color: var(--primary-color);
}

/* ===== Styles for mobile version "Contact" ===== */

body.contact div#container {
    background-image: none;
}

body.contact {
    background-color: var(--secondary-color);
}

body.contact div.image-contact {
    display: block;
    max-width: 100%;
    height: auto;
}

body.contact h1 {
    color: var(--primary-color);
    font-family: var(--primary-font);
    padding-top: 20px;
    font-size: 27px;
}

body.contact label {
    font-family: var(--primary-font);
    color: var(--tertiary-color);
    font-size: 16px;
    padding-top: 10px;
}

body.contact input, body.contact textarea {
    width: 100%;
    height: 30px;
    background-color: var(--tertiary-color);
    border-radius: 5px 5px;
    border-style: none;
    color: var(--secondary-color);
}

body.contact ::placeholder {
    color: var(--secondary-color);
    font-family: var(--secondary-font);
    font-size: 12px;
    padding-left: 10px;
}

body.contact #message::placeholder {
    padding-top: 10px;
}

body.contact input[type=submit] {
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
    font-family: var(--secondary-font);
    font-size: 20px;
    text-transform: uppercase;
    height: 50px;
    border-radius: 5px 5px;
    border-style: none;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}
  
body.contact input[type=submit]:hover {
    background-color: var(--primary-color);
}

body.contact footer.grid-container.container-social {
    padding-top: 30px;
}

body.contact p.copyright {
    color: var(--secondary-color);
    text-align: center;
    font-size: 14px;
    padding-top: 10px;
}

/* ===== Styles for mobile version "Portfolio" ===== */

body.portfolio div.grid-container.container-portfolio main {
    background-color: transparent;
    padding-bottom: 170px;
}

.branding, .photography {
    list-style-type: none;
    font-family: var(--primary-font);
    text-decoration: none;
    padding-top: 30px
}

.branding a, .photography a {
    color: var(--secondary-color);
    font-size: 28px;
}



@media (min-width: 575px) {
    div#container {
        height: 1150px;
        background-image: url(images/background-1200.jpg);
    }

    .overlay-color{
        height: 1150px;
    }

    h1 {
        font-size: 46px;
        text-align: center;
    }

/* logo image */
    .topnav img {
        width: 183px;
        height: 206px;
    }

    main, footer {
        background-color: transparent;
        text-align: center;
    }

    main.grid-container.container-btn {
        margin-top: 0px;
    }

    input#btn-hire, input#btn-resume {
        width: 276px;
        height: 40px;
        color: var(--secondary-color);
        background-color: var(--primary-color);
        margin: auto;
        margin-right: 5px;
    }

    main #myBtn.grid-container.container-btn {
        margin-top: 20px;
    }

    footer.grid-container.container-social .social.social-links {
        display: flex;
        justify-content: center;
        margin: 200px 0px 20px 0px;
    }

    a.linkedin img {
        padding-top: 0px;
    }

    a.linkedin, a.email, a.insta {
        padding-right: 20px;
        padding-left: 20px;
        padding-top:100px;
    }

    footer div.social.social-links {
        margin-top: 0px;
    }

    /* ===== Styles for tablet version "About" ===== */

    body.about .mobile-container {
        background-image: url(images/background-800.jpg);
    }

    body.about h2 {
        font-size: 40px;
    }

    body.about p {
        font-size: 24px;
    }

    body.about .grid-container.container-social{
        background-color: var(--primary-color);
    }

    body.about div.social.social-links {
        display: flex;
        justify-content: center;
    }

    /* ===== Styles for tablet version "Contact" ===== */

     body.contact div.my-background {
         background-color: var(--secondary-color);
     }

     body.contact h1 {
         font-size: 40px;
     }

     body.contact label {
         font-size: 24px;
     }

     body.contact input, body.contact textarea {
        height: 50px;
    }
    
    body.contact ::placeholder {
        font-size: 16px;
    }
    
    body.contact input[type=submit] {
        font-size: 24px;
    }

    body.contact footer {
        background-color: var(--primary-color);
        height: 220px;
    }

     body.contact footer.grid-container.container-social {
         background-color: var(--primary-color);
     }

     body.contact footer.grid-container.container-social div.social.social-links {
         margin-top: 0px;
     }

     body.contact div.social.social-links {
        display: flex;
        justify-content: center;
    }

    /* ===== Styles for tablet version "Portfolio" ===== */

    body.portfolio div.social.social-links {
        display: flex;
        justify-content: center;
    }

    body.portfolio #container {
        height: 1050px;
    }

    body.portfolio .overlay-color{
        height: 1050px;
    }

    .branding a, .photography a {
        font-size: 40px;
    }
}
    
@media (min-width: 1280px) {
    div#container {
        height: 1000px;
        background-image: url(images/background-1920.jpg);
        background-position: center;
    }

    .overlay-color{
        height: 1000px;
    }

    h1 {
        font-size: 50px;
        text-align: left;
        padding-left: 80px;
        margin-top: 120px;
    }

    input.hire, input.resume {
        font-size: 24px;
    }

    input#btn-hire, input#btn-resume {
        width: 280px;
        height: 54px;  
    }

    main#myBtn.grid-container.container-btn #btn-hire,
    main#myBtn.grid-container.container-btn #btn-resume {
        float: left;
        margin-left: 80px;
        margin-top: 0px;
    }

    main#myBtn.grid-container.container-btn #btn-resume {
        margin-left: 10px;
    }

    div.grid-container.container-nav {
        display: none;
    }

    header nav {
        display: block;
        background-color: black;
        position: relative;
        z-index: 1;
    }

    ul.nav {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    header nav ul a {
        text-decoration: none;
        font-family: var(--primary-font);
        font-size: 28px;
        color: var(--secondary-color);
        list-style-type: none;
        padding-right: 90px;
    }

    header nav ul a:hover {
        color: var(--primary-color);
    }

    header a img {
        width: 183px;
        height: 206px;
        margin-right: 200px;
    }

    .social-links img {
        width: 50px;
        height: 50px;
    }

    div.social.social-links {
        padding-left: 850px;
    }

    /* ===== Styles for desktop version "About" ===== */

    body.about div.grid-container.container-main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
            "my-bg my-photo my-passion";
        margin-top: 50px;
    }

    div.image-about {
        grid-area: my-photo;
        padding-top: 50px;
    }
    
    div.my-background {
        grid-area: my-bg;
    }

    div.my-passion {
        grid-area: my-passion;
        margin: 0px;
    }

    body.about h2 {
        margin-top: 20px;
        text-align: left;
        font-size: 45px;
    }

    body.about div.my-passion p {
        margin: 0px;
    }

    body.about div.my-background p {
        margin-left: 40px;
    }
    
    body.about div.my-background h2 {
        margin-left: 40px;
    }
    
    body.about div.social.social-links {
        height: 100px;
    }

    body.about div.social.social-links img {
        height: 100px;
        padding-top: 0px;
        padding-bottom: 30px;
    }

    /* ===== Styles for desktop version "Contact" ===== */

    body.contact div#container {
        background-image: none;
    }

    body.contact div.grid-container.container-contact {
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
            "photo contact";
    }

    div.image-contact {
        grid-area: photo;
        align-self: center;
        background-size: cover;
    }
    
    div.contact-form {
        grid-area: contact;
        margin-bottom: 50px;
        margin-right: 100px;
        margin-left: 100px;
    }

    body.contact h1 {
        text-align: center;
        margin-top: 50px;
        padding-left: 0px;
        font-size: 50px;
    }

    body.contact p.copyright {
        margin-top: 40px;
    }

    body.contact div.social.social-links {
        height: 80px;
    }

    body.contact div.social.social-links img {
        height: 100px;
        padding-top: 0px;
        padding-bottom: 30px;
    }

    /* ===== Styles for desktop version "Portfolio" ===== */

    body.portfolio .container-portfolio {
        padding-top: 180px;
    }
    .container-portfolio main ul {
        display: flex;
        justify-content: space-evenly;
    }

    body.portfolio main a {
        font-size: 50px;
    }

    body.portfolio div#container {
        height: 970px;
    }

    body.portfolio .overlay-color{
        height: 970px;
    }
}

@media (min-width: 1920px) {
    header nav ul a {
        padding-right: 250px;
    }
}

