* {
    box-sizing: border-box;
}

.container {
    width: 90%;
    margin: auto;
}

body {
    background-color: #EEF2F3;
    background-position: center 400px;
    background-repeat: no-repeat;
    background-size: 100%;
}

.background-image {
    width: 375px;
    height:299px;
    padding-right: 50px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1 {
    font-family: 'Mr Dafoe', cursive, Helvetica, sans-serif;
    font-size: 28px;
    text-align: center;
}

p, h2, ul {
    font-family: 'Poiret One', cursive, Helvetica, sans-serif;
    position: center;
    text-align: center;
}

h2 {
    font-size: 22px;
    text-transform: uppercase;
}

p {
    font-size: 16px;
    line-height: 10px;
}

.logo {
    width: 67px;
    height: 66px;
}

.cart {
    width: 14px;
    height: 14px;
}

nav ul li {
    margin-bottom: 16px;
    list-style: none;
}

.nav ul {
    margin: 0 50px 0 0;
    padding: 20px 0 0 0;
}

.container header {
    display: flex;
    justify-content: space-between;   
    align-items: center;
}

.cart {
    align-self: flex-start;
    padding-top: 20px;
}

.special img {
    width: 146px;
    height: 150px;
    border-radius: 50%;
    margin: auto;
}

.icecream div img{
    width: 146px;
    height: 146px;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 30px;
}

.contact {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}

.contact p {
    font-size: 13px;
}

.social-links {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}

.social-links img{
    width: 15px;
    height: 15px;
}