* {
    box-sizing: border-box;
}

/* set container to 90%, so contents are not touching the edges */
.container {
    width: 90%;
    margin: auto;
}

body {
    background-color:#C0CCCC;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* set main.container to be 100%, so the bg-image fills up the entire width */
main.container {
    width: 100%;
}

h1 {
    font-family: 'Mr Dafoe', Helvetica, sans-serif;
    font-size: 28px;
    text-align: center;
}

/* this transition applies to all h1 to grab attention */
h1:hover {
    transform: scale(1.2);
    transition: 1s;
}

p, h2, ul {
    font-family: 'Poiret One', Helvetica, sans-serif;
    text-align: center;
}

h2 {
    font-size: 22px;
    text-transform: uppercase;
}

p {
    font-size: 16px;
    line-height: 10px;
}

.logo {
    width: 67px;
    height: 66px;
}

.cart {
    width: 14px;
    height: 14px;
}

nav ul li {
    margin-bottom: 16px;
    list-style: none;
}

.nav ul {
    margin: 0 50px 0 0;
    padding: 20px 0 0 0;
}

ul li a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: antiquewhite;
}

.container header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* all nav elements are centered, except for the cart icon */
.cart {
    align-self: flex-start;
    padding-top: 20px;
}

/* adding a animation to image */
.special img {
    width: 146px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 5px 5px 5px #b0b8b8;
    margin: auto;
}

.special img:hover {
    transform: rotateY(2turn);
    transition: 1s;
}

.grid-item img {
    width: 146px;
    height: 146px;
    border-radius: 50%;
    box-shadow: 5px 5px 5px #b0b8b8;
    margin: auto;
    margin-bottom: 30px;
}

div.contact p, body.about div.contact p {
    text-align: center;
    margin-bottom: 10px;
}

/* add more space between the bottom info with the social icons */
div.contact p:nth-child(3), body.about div.contact p:nth-child(3) {
    margin-bottom: 40px;
}

.contact p {
    font-size: 13px;
}

.social-links {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}

.social-links img {
    width: 15px;
    height: 15px;
}

/* === set paragraph STYLES for the ABOUT PAGE- mobile version === */

body.about p {
    line-height: 1.4;
    text-align: left;
    margin: 0 35px 40px 35px;
}

/* === set STYLES for the CONTACT PAGE- mobile version === */

body.contact div.grid-container.grid-container-1 {
    position: absolute;
    padding-left: 50%;
}

body.contact iframe{
    margin-top: 30px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

body.contact p {
    font-size: 18px;
    line-height: 1.5;
}

body.contact h1 {
    font-size: 31px;
}

body.contact div.contact p{
    font-size: 13px;
}

@media (min-width: 700px) {
    .container {
        width: 650px;
    }

    .logo {
        width: 140px;
        height: 139px;
    }

    h1 {
        font-size: 48px;
    }

    h2, p {
        font-size: 24px;
    }

    /* set a margin-left on the cart icon, to center the nav */
    .cart {
        margin-left: 50px;
    }

    .grid-item img {
        width: 296px;
        height: 296px;
    }

    /* set a smaller image size for the weekly flavour */
    div.special img {
        width: 140px;
        height: 148px;
    }

    .grid-container-2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
        "sandwich pop"
        "cone choco";
    }

    .grid-item-1 {
        grid-area: sandwich;
    }

    .grid-item-2 {
        grid-area: pop;
    }

    .grid-item-3 {
        grid-area: cone;
    }

    .grid-item-3 {
        grid-area: choco;
    }

    div.contact {
        display: flex;
        justify-content: center;
        margin-bottom: 0px; 
    }

    div.contact p {
        margin-right: 20px;
    }

    div.contact p:nth-child(3) {
        margin-right: 0px;
    }

    .social-links {
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
    }

    div.social.social-links a {
        margin-right: 40px;
        margin-left: 40px;
    }

    /* === set STYLES for the CONTACT PAGE- tablet version === */

    body.contact div.grid-container.grid-container-1 {
        position: absolute;
        padding-left: 50%;
    }
    body.contact div.grid-container.grid-container-2 {
        display: block;
    }

    body.contact iframe{
        margin-top: 30px;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }

    body.contact p {
        font-size: 30px;
        line-height: 1.5;
    }

    body.contact h1 {
        font-size: 50px;
    }

@media (min-width: 1290px) {
    .container {
        width: 1230px;
    }

    /* to get raid of block element and display a background image */
    #bg-image {
        display: none;
    }

    /* display background image */
    body { 
        background: url(images/background-1920.png);
        display: block;
        max-width: 100%;
        height: auto; 
    }

    body .container {
        width: 90%;
    }

    /* target the nav bar with a 100% width, so it has a full width */
    body .container:nth-child(1) {
        width: 100%;
    }
    
    .logo {
        width: 122px;
        height: 121px;
    }

    nav {
        font-size: 22px;
    }

    h1 {
        font-size: 63px;
    }

    div.grid-item.grid-item-1 h1 {
        margin-top:  0;
    }

    div.grid-item.grid-item-3 h2 {
        margin-top:  0;
    }

    h2 {
        font-size: 42px;
    }

    p {
        font-size: 40px;
    }

    .contact p {
        font-size: 23px;
    }

    .cart, .social-links img {
        width: 36px;
        height: 36px;
        margin-top: 20px;
    }

    .best-seller {
        margin-top: 40px;
        margin-bottom: 80px;
    }

    div.container header.grid-container {
        display: grid;
        grid-template-columns: 1fr 4fr 1fr;
        grid-template-areas:
        "logo home home home home cart";
    }

    .logo {
        grid-area: logo;
    }

    li.home, li.about, li.menu, li.contactus {
        grid-area: home;
    }

    .cart img {
        grid-area: cart;
    }

    header.grid-container {
        display: block;
        background-color: #8EA1AC;
        width: 100%;
        height: 136px;
    }

    div.logo img {
        margin-left: 85px;
    }

    .nav nav ul {
        margin: 0 0 0 0;
        padding: 0 0 0 0;
    }

    .grid-container-2 .grid-item img {
        width: 398px;
        height: auto;
    }

    .grid-item-2 .special img {
        width: 260px;
        height: auto;
    }

    .nav nav ul {
        display: flex;
        justify-content: space-evenly;
    }

    .grid-container-2 {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas:
        "sandwich pop cone choco";
        grid-gap: 16px;
    }

    .grid-item-1 {
        grid-area: sandwich;
    }

    .grid-item-2 {
        grid-area: pop;
    }

    .grid-item-3 {
        grid-area: cone;
    }

    .grid-item-4 {
        grid-area: choco;
    }

    div.grid-container.grid-container-1 {
        display: grid;
        grid-template-columns: 1fr 2fr 2fr;
        grid-template-areas:
        "charc dad dad uber uber";
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .grid-container-1 .grid-item.grid-item-1 {
        grid-area: dad;
        align-self: flex-start;
    }

    .grid-container-1 .grid-item.grid-item-2 {
        grid-area: charc;
        justify-content: center;
        align-self: flex-start;
    }

    .grid-container-1 .grid-item.grid-item-3 {
        grid-area: uber;
        justify-content: center;
        align-self: flex-start;
    }

    footer div.contact {
        display: flex;
        justify-content: flex-end;
        margin-right: 100px;
    }

    footer div.contact p {
        margin-right: 25px;
        margin-left: 25px;
    }

    div.social-links {
        display: flex;
        justify-content: flex-end;
    }

    div.social-links img {
        margin-left: 25px;
        margin-right: 25px;
    }

    div.social-links a:nth-child(4) {
        margin-right: 80px;
    }

    div.social.social-links {
        padding-bottom: 50px;
    }

    /* === set STYLES for ABOUT PAGE - desktop version === */

    body.about {
        background-size: cover;
        height: 100vh;
    }

    body.about main {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin: 30px;
    }

    body.about div.grid-container p {
        font-size: 24px;
        margin: 0 0;
    }

    body.about div.grid-container {
        width: 536px; 
        height: auto;
    }

    /* === set STYLES for CONTACT PAGE - desktop version === */

    body.contact main.container div.grid-container.grid-container-1 {
        padding: 0 0 0 0;
        grid-template-columns: 1fr;
        display: flex;
        flex-direction: column;
    } 

    body.contact div.grid-container.grid-container-2 iframe {
        border-radius: 50%;
        width: 812px;
        height: 815px;
        float: right;
    }

    body.contact p {
        font-size: 40px;
    }

    body.contact h1 {
        font-size: 63px;
    }

    body.contact div.contact p {
        font-size: 23px;
    }

    body.contact header.grid-container {
        margin-bottom: 100px;
    }

    body.contact footer div.contact {
        display: flex;
        justify-content: flex-end;
        margin-right: 100px;
        margin-top: 65%;
    }
}}